form{
  margin: 0 auto;
  margin-bottom: 40px;
}

.search-container{
  background-color:rgb(171,171,171);
  padding: 10px 0px;
}

.search-query-label{
  margin-right: 10px;
  font-weight: 600;
}

.options{
  background-color: rgb(222,222,222)
}

